.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  &-address {
    font-family: var(--main-font);
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #ffffff;
    display: block;
    margin-bottom: 8px;
  }
}

.logo-footer {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}
.footer-contact-mail {
  display: block;
  margin-bottom: 8px;
}
.footer-contact-mail,
.footer-contact-tel {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}
.footer-slogan {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  display: inline-block;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
    outline: none;
  }
}
.footer-social-icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
.footer-address-container {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (max-width: 1199px) and (min-width: 768px) {
    display: inline-block;
  }
}
.footer-container-slogan {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (max-width: 1199px) and (min-width: 768px) {
    display: inline-block;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.button-subscribe {
  max-width: 200px;
  width: 100%;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  font-family: var(--main-font);
  cursor: pointer;
  border: transparent;
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .logo-footer {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
  }
}
@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}

.footer-form-input {
  .form-subscribe & {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2f303a;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 16px;
  }
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}
.footer-contact {
  @media screen and (min-width: 1200px) {
    width: 231px;
  }
}

.footer-social-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  &-item:not(:last-child) {
    margin-right: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social-list {
    justify-content: space-between;
  }
}
.footer-group {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    margin-top: 20px;
  }
}

.form-subscribe {
  max-width: 450px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    display: flex;
    width: 358px;
  }
}
.button-subscribe {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1199px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}
