.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}
.footer-address {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 8px;
  display: block;
}
.footer-contact-mail,
.footer-contact-tel {
  font-family: var(--main-font);
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

.footer-contact-address:not(:last-child) {
  margin-bottom: 8px;
}
.footer-slogan {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-form {
  margin-top: 20px;
}
.footer-form-input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
  max-width: 450px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.footer-social-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link,
.footer-social-icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.button-subscribe {
  font-family: var(--main-font);
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  padding: 10px 29px;
  display: inline-flex;
  margin-left: -5px;
  border: transparent;
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-text {
  margin-right: 10px;
}

@media screen and (max-width: 1199px) {
  .footer-address-container {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .footer-container-slogan {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .button-subscribe {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-address-container {
    margin-right: 172px;
    margin-left: 78px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-group {
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer > .container {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-address-container {
    margin-right: 84px;
    margin-left: 0;
    margin-bottom: 0;
  }
}
/*.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  &-address {
    font-family: var(--main-font);
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #ffffff;
    display: block;
    margin-bottom: 10px;
  }
}
.footer > .container {
  display: flex;
  align-items: baseline;
}
.footer-address-container {
  margin-right: 83px;
}

.logo-footer {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}
.footer-contact-mail {
  margin-bottom: 10px;
}
.footer-contact-mail,
.footer-contact-tel {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

.footer-slogan {
  display: inline-block;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  display: inline-block;
}

.footer-social-list {
  display: flex;
  &-item:not(:last-child) {
    margin-right: 10px;
  }
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
    outline: none;
  }
}
.footer-social-icon {
  fill: #ffffff;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  padding: 15px 16px;
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-group {
  margin-left: 94px;
}

*/
