.our-work > .container {
  padding-bottom: 94px;
}

.our-work-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  &-text {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: #ffffff;
    padding-top: 27px;
    padding-bottom: 27px;
  }
}
