.social-list {
  display: flex;
  justify-content: center;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #ffffff;
    background-color: #2196f3;
  }
}

.social-list-icon {
  width: 20px;
  height: 20px;
}
.social-list-icon {
  fill: #afb1b8;
  &:hover,
  &:focus {
    fill: #ffffff;
  }
}
.social-list-item:not(:last-child) {
  margin-right: 10px;
}
